<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/969d33ecfa.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/header-footer-styles.css">
    </head>
    <body>
        <%- include('./partials/header') %>
        <img class="banner" src="images/img-home-banner.jpg" alt="banner">
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <% for (i=0; i<lastSearchedProducts.length; i++) { %>
                        <article>
                            <img src="images/<%= lastSearchedProducts[i].imagen %>" alt="<%= lastSearchedProducts[i].nombre %>">
                            <div class="article-details">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="price-discount">
                                    <p class="price">$<%= lastSearchedProducts[i].precio %></p>
                                    <p class="discount"><%= lastSearchedProducts[i].descuento %>% off</p>
                                </div>
                                <h4 class="description"><%= lastSearchedProducts[i].nombre %></h4>
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
            <section class="offers">
                <h3>Sección de Ofertas</h3>
                <div class="products">
                    <% for (i=0; i<discountProducts.length; i++) { %>
                        <article>
                            <img src="images/<%= discountProducts[i].imagen %>" alt="<%= discountProducts[i].nombre %>">
                            <div class="article-details">
                                <div class="truck">
                                    <i class="fas fa-truck"></i>
                                </div>
                                <div class="price-discount">
                                    <p class="price">$<%= discountProducts[i].precio %></p>
                                    <p class="discount"><%= discountProducts[i].descuento %>% off</p>
                                </div>
                                <h4 class="description"><%= discountProducts[i].nombre %></h4>
                            </div>
                        </article>
                    <% } %>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>
    </body>
</html> 